@tailwind base;
@tailwind components;
@tailwind utilities;


.cl-formButtonPrimary {
    font-size: 14px;
    text-transform: none;
    background-color: #cf4500;
  }
  
  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:focus,
  .cl-formButtonPrimary:active {
    background-color: #000000;
  }